accelerate==1.11.0+computecanada
aiohttp==3.8.4+computecanada
aiosignal==1.4.0+computecanada
anyio==4.11.0+computecanada
async_timeout==4.0.3+computecanada
attrs==25.4.0+computecanada
audioread==3.1.0+computecanada
certifi==2025.8.3+computecanada
cffi==1.17.1+computecanada
charset_normalizer==3.4.3+computecanada
click==8.3.1+computecanada
datasets==4.4.1
dill==0.4.0+computecanada
filelock==3.20.0+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.9.0
h11==0.16.0+computecanada
hf-xet==1.2.0
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.0+computecanada
hypothesis==6.148.9
idna==3.10+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.3
kenlm==0.3.0
lazy_loader==0.4+computecanada
librosa==0.11.0+computecanada
llvmlite==0.45.1+computecanada
MarkupSafe==3.0.2+computecanada
mpmath==1.3.0+computecanada
msgpack==1.1.2+computecanada
multidict==6.7.0+computecanada
multiprocess==0.70.18+computecanada
networkx==3.5+computecanada
numba==0.62.1+computecanada
numpy==1.26.4+computecanada
packaging==25.0+computecanada
pandas==2.3.3+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
pooch==1.8.2+computecanada
propcache==0.4.1+computecanada
psutil==7.0.0+computecanada
pycparser==2.23+computecanada
pyctcdecode==0.5.0
pygtrie==2.5.0+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
safetensors==0.5.3+computecanada
scikit_learn==1.7.1+computecanada
shellingham==1.5.4+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
sortedcontainers==2.4.0+computecanada
soundfile==0.13.1+computecanada
soxr==0.5.0.post1+computecanada
sympy==1.14.0+computecanada
threadpoolctl==3.6.0+computecanada
tokenizers==0.22.1+computecanada
torch==2.7.1+computecanada
torchaudio==2.7.1+computecanada
torchcodec==0.7.0+computecanada
torchvision==0.22.1+computecanada
tqdm==4.67.1+computecanada
transformers==4.57.1+computecanada
typer-slim==0.20.0
typing_extensions==4.15.0+computecanada
tzdata==2025.2+computecanada
urllib3==2.5.0+computecanada
xxhash==3.5.0+computecanada
yarl==1.22.0
